body{
    font-family: 'Merriweather', serif;
    scroll-behavior: smooth;
}
img{
    width: 16rem;
}
.my-nav{
    margin:0px 20px;
}
.card-image-style{
    height: 60vh;
    object-fit: contain;
    width: 100%;
    padding: 20px;
}
.card{
    border:none;
}
.border-radius{
    border-radius: 15px;
}
.button-style{
    background-color: #8EA825;
    color: white;
    /* font-weight: 600; */
    padding: .8rem 1.2rem;
    font-size: 12px;
    border-radius: 14px;
    font-weight: lighter;
}

/* .container {
  padding: 0px;
}

nav.navbar {
  width: inherit;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
} */